.nav {  
    position: absolute; 
    overflow: hidden;  
    z-index: 1000;   
    display: flex;   
    width: 70%;
    justify-content: center;
} 

.nav a {
    transition: 0.2s ease;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;     
    font-weight: 700;  
    margin: 5%;  
    position: relative; 
}

.navImg {  
    max-width: 12%; 
}


.nav-1:hover {
    transition: 0.2s ease;
    font-size: 1.3rem;
    background: linear-gradient(180deg, black 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-2:hover {
    transition: 0.2s ease;
    font-size: 1.3rem;
    background: linear-gradient(0deg, black 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-3:hover {
    transition: 0.2s ease;
    font-size: 1.3rem;
    background: linear-gradient(0deg, black 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-4:hover
{
    transition: 0.2s ease;
    font-size: 1.3rem;

    background: linear-gradient(0deg, black 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

