@font-face {
    font-family: 'Berani';
    src: url('../Assets/Images/Berani.ttf') format('truetype');
  }

#footerTitle {
    font-family: sans-serif;
}

#tourDates {
    font-family: 'Berani';
    color: white;
}

.tourDatesTitle {
    font-family: "StageFrightFont", sans-serif;
}

.Timeline {
    display: inline-block;
    width: 15px;
    height: 80vh;
    background-color: #441c1c;
    border-radius: 10px;
    box-shadow: 5px;
}

.Dates1 h2 {
    text-align: center;
    padding-top: 30%;
}

.date-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.LineBox {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
}

.tourDates {
    font-size: 1.2em; 
    margin-bottom: 5px; 
}

body {
   font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-family: 'Berani';
    color: gray;
}

h1 {
    font-family: 'StageFrightFont';
    color: lightgrey;
}

h2 {
    font-family: 'StageFrightFont';
    color: white;
}

a {
    font-family: 'StageFrightFont';
}

